<div id="jfsAdminUserList">
    <div class="row">
        <div class="col-md-12">
            <h2>Manage Members</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User name</th>
                            <th>Email</th>
                            <th>User type</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in getTimes(5) track by $index">
                            <td>Vishnu</td>
                            <td>mailme@vishnusr.com</td>
                            <td>Company</td>
                            <td>
                                <button ng-click="vm.remove();" type="button" class="btn btn-default btn-xs jfsAdminButton">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat="t in getTimes(5) track by $index">
                            <td>Spider Man</td>
                            <td>mailme@vishnusr.com</td>
                            <td>Company</td>
                            <td>
                                <button ng-click="vm.remove();" type="button" class="btn btn-default btn-xs jfsAdminButton">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat="t in getTimes(5) track by $index">
                            <td>Hulk</td>
                            <td>mailme@vishnusr.com</td>
                            <td>Student</td>
                            <td>
                                <button ng-click="vm.remove();" type="button" class="btn btn-default btn-xs jfsAdminButton">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>