<div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    Manage Notification Settings<hr>
        <div class="col-md-8">
              <br><br>
            <form class="form-horizontal">
            <div class="form-group">
                <label id="AddNotification" class="control-label">Add notifications:</label>
                <div class="input-group">
                    <button aria-label="Select" type="button" class="btn btn-default form-control"
                            ng-model="types" data-placeholder="Type" data-html="1"
                            bs-options="type.value as type.label for type in jobSearch.type" bs-select>
                    </button>
                    <div class="searchButton input-group-addon">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="jobLocation" class="form-control" name="jobCreateLocation"
                           ng-model="location" placeholder="Location">
                    <div class="searchButton input-group-addon">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="subSkill" class="form-control" name="jobCreateLocation"
                           ng-model="skills" placeholder="Skills">
                    <div class="searchButton input-group-addon">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            </form>
            <button ng-click="redirect()" class="btn btn-primary">Go Back</button>
            <button type="submit" ng-click="createSub()" class="btn btn-primary">Save Settings</button>
        </div>
    </div>
</div>
    <!--
       <tags-input class="bootstrap"
                   ng-model="movies"
                   placeholder="Add a movie"
                   input type="text"
                   replace-spaces-with-dashes="false">

           <auto-complete bs-options="movie for movie in movies"
                          min-length="0"
                          debounce-delay="3"
                          max-results="5"
                          maxResultsToShow = "3">
                          </auto-complete>

    </tags-input>
    -->
