<div id="jfsJobList">
    <div class="row">
        <div class="col-md-12" >
            <form name="jobSearchForm" ng-submit="search()" id="jobSearchForm" class="form-inline" role="form">
                <!--
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="jobQuickSearch" class="form-control"
                               ng-model="selectedJobQuickSearch.searchTerm" aria-label="Job quick search">
                        <div class="searchButton input-group-addon" ng-click="">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                -->

                <div class="row search-row">

                    <div class="form-group">
                        <!--<label id="jobSearchLabel" class="control-label">Search:</label>-->
                        <div class="input-group">
                            <button aria-label="Select" type="button" class="btn btn-default form-control"
                                    ng-model="selectedJobSearch.type" data-placeholder="Type" data-html="1"
                                    bs-options="type.value as type.label for type in jobSearch.type" bs-select>
                            </button>
                            <div class="searchButton input-group-addon">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="selectedJobSearch.skills" placeholder="Skills">
                            <div class="searchButton input-group-addon">
                                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="jobSearchAddress" name="jobSearchAddress" class="form-control"
                                   ng-model="selectedJobSearch.location.address" ng-model-options="{ debounce: 500 }"
                                   ng-focus="isAddressFocused = true" ng-blur="isAddressFocused = false"
                                   placeholder="Type to search by address. Click on the map to search by location."
                                   autocomplete="off" />
                            <div class="searchButton input-group-addon" style="border-left: 0px;">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div ng-show="isAddressFocused" class="list-group jobOfferAddressDropdown">
                            <div class="list-group-item jobOfferAddressDropdownItem"
                                 ng-mousedown="dropdownLocationSelected(row)" ng-repeat="row in dropdownSearchLocations">
                                {{row.formatted_address}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <button aria-label="Select" type="button" class="btn btn-default form-control"
                                    ng-model="selectedJobSearch.radius" data-placeholder="Radius" data-html="1"
                                    bs-options="radius.value as radius.label for radius in jobSearch.radius" bs-select>
                            </button>
                            <div class="searchButton input-group-addon">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row search-row">

                    <div class="form-control mapselection">
                        <div id="jobSearchMap" class="mapelement" />
                    </div>

                </div>

                <div class="row search-row">

                    <button type="submit" class="btn btn-primary search-row-button">
                        Search
                    </button>

                    <div ng-if="dataLoading" class="form-group">
                        <div class="loadingAnimation">
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <hr />

    <div class="row">

        <!--
        <div class="col-md-3">

            <form name="jobFilterParametersForm" id="jobFilterParametersForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="jobFilterParamType" class="col-md-5 control-label">Type:</label>
                    <div class="col-md-7">
                        <button id="jobFilterParamType"
                                aria-label="Select" type="button" class="btn btn-default form-control text-overflow"
                                ng-model="selectedJobFilter.type" data-placeholder="Type" data-html="1"
                                bs-options="item.value as item.label for item in jobFilter.type" bs-select>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobFilterParamSalary" class="col-md-5 control-label">Salary:</label>
                    <div class="col-md-7">
                        <button id="jobFilterParamSalary"
                                aria-label="Select" type="button" class="btn btn-default form-control text-overflow"
                                ng-model="selectedJobFilter.salary" data-placeholder="Salary" data-html="1"
                                bs-options="item.value as item.label for item in jobFilter.salary" bs-select>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobFilterParamDuration" class="col-md-5 control-label">Duration:</label>
                    <div class="col-md-7">
                        <button id="jobFilterParamDuration"
                                aria-label="Select" type="button" class="btn btn-default form-control text-overflow"
                                ng-model="selectedJobFilter.duration" data-placeholder="Duration" data-html="1"
                                bs-options="item.value as item.label for item in jobFilter.duration" bs-select>
                        </button>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                    <label for="jobFilterParamPostedDate" class="col-md-5 control-label">Posted Date:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input id="jobFilterParamPostedDate" type="text" class="form-control"
                                   placeholder="Posted date" ng-model="selectedJobFilter.postedDate" bs-datepicker>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobFilterParamCompany" class="col-md-5 control-label">Company:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input id="jobFilterParamCompany"
                                   type="text" class="form-control" ng-model="selectedJobFilter.company"
                                   bs-options="location for location in jobFilter.company" placeholder="Company name" bs-typeahead>
                            <div class="searchButton input-group-addon">
                                <span class="glyphicon glyphicon-briefcase"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobFilterParamSkill" class="col-md-5 control-label">Skill:</label>
                    <div class="col-md-7">
                        <div class="input-group">
                            <input id="jobFilterParamSkill"
                                   type="text" class="form-control" ng-model="selectedJobFilter.skill"
                                   bs-options="location for location in jobFilter.skill" placeholder="Skill" bs-typeahead>
                            <div class="searchButton input-group-addon">
                                <span class="glyphicon glyphicon-book"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        -->
        <div class="col-md-12">

            <div ng-if="noResults.info || noResults.error">
                <div class="alert" ng-class="{ 'alert-info': noResults.info, 'alert-danger': noResults.error }">
                    <strong>{{ noResults.title }}</strong> {{ noResults.text }}
                </div>
            </div>

            <div masonry class="row" masonry-options="{ percentPosition: true }">
                <div class="masonry-brick col-xs-12 col-sm-6 col-md-4" ng-repeat="offer in offers">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="#/job/profile/{{offer.offerId}}">{{ offer.name }}</a></h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled jobOfferParameters">
                                <li class="jobOfferCompany">{{ offer.companyId }}</li>
                                <li class="jobOfferLocation">{{ offer.location }}</li>
                                <li class="jobOfferDuration">{{ offer.duration | duration }}</li>
                                <!--<li class="jobOfferSalary">100,000</li>-->
                                <li class="jobOfferStartDate">{{ offer.startDate | dateCheckedZero: 'yyyy-MM-dd' }}</li>
                                <!--<li class="jobOfferSkill">Jquery, Javascript, HTML 5, CSS, Jquery, Javascript, HTML 5, CSS</li>-->
                            </ul>
                            <p>{{ offer.description | htmlToPlainText | limitTo: 200 }}...</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>