#jfsJobList .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#jfsJobList #jobSearchLabel {
    margin-right: 1rem;
}

#jfsJobList #jobSearchForm .form-group {
    margin-right: 1rem;
}

/*
#jfsJobList #jobFilterParametersForm .control-label {
    text-align: left;
}
*/

#jfsJobList .jobOfferParameters {
    padding-left: 20px;
}

#jfsJobList .jobOfferParameters li:before {
    font-family: 'Glyphicons Halflings';
    color: #000;
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    float: left;
    margin: 2px 0 0 -20px;
}

#jfsJobList .jobOfferParameters .jobOfferCompany:before {
    content: "\e139";
}

#jfsJobList .jobOfferParameters .jobOfferLocation:before {
    content: "\e062";
}

#jfsJobList .jobOfferParameters .jobOfferDuration:before {
    content: "\e117";
}

#jfsJobList .jobOfferParameters .jobOfferSalary:before {
    content: "\20ac";
}

#jfsJobList .jobOfferParameters .jobOfferPostedDate:before {
    content: "\e109";
}

#jfsJobList .jobOfferParameters .jobOfferSkill:before {
    content: "\e043";
}