<br class="col-xs-12 col-xs-offset-0
    col-sm-12 col-sm-offset-0
    col-md-12 col-md-offset-0
    col-lg-12 col-lg-offset-0">
    <!--
     <div class="clearfix" joboffer-create></div>
     -->
    <!--
    <div class="list-group">
        <a ng-repeat="job in jobs" ng-href="#/job/profile/{{job.id}}" class="list-group-item">{{ job.title }}</a>
    </div>

    -->
<!-- Quick Search box-->

    <H3>Welcome,</br> Please select  the options from below list to proceed..blahh</H3>
    <div class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-2">
        <dl class="dl-horizontal">
    <dt><h4>Quick Search</h4></dt>
            <dd><input type="text" class="form-control" placeholder="Search here"></dd>
        </dl>
    </div>
<!--
    <button ng-click="foo();">Click me!</button>

--> </br></br></br>
<!-- Search for Jobs and Location Text box -->

<div class="form-group has-feedback col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-3">
    <label class="control-label" for="inputSuccess2">Search For Jobs</label>
    <input type="text" class="form-control" id="inputSuccess2" placeholder="Search For Jobs"/>
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>


<div class="form-group has-feedback col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-1">
    <label class="control-label" for="inputSuccess2">Location</label>
    <input type="text" class="form-control" id="inputSuccess3" placeholder="Location"/>
    <span class="glyphicon glyphicon-map-marker form-control-feedback" ></span>
</div>

<!--new Template for the job listing -->

</br>
    <div class="container" ng-show="svalue">
        <br>
        <div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
        <h3>Software Analyst Jobs in Germany</h3>
            </div>
        <div class="form-group has-feedback col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0 "  style="box-shadow: 0 0 5px black">
            <dl>
            <dt><H4>Software Developer Programmer</H4></dt>
                <dt><H5>Accenture Inc.</H5></dt>
                <dt><label class="control-label glyphicon glyphicon-map-marker " for="inputSuccess2">Berlin,Germany</label></dt>
                <dt><label class="control-label glyphicon glyphicon-folder-close " for="inputSuccess2">&nbsp;2 Years</label></dt>
                <dt><label class="control-label glyphicon glyphicon-euro " for="inputSuccess2">&nbsp;Not Disclosed</label></dt>
                <dt><label class="control-label glyphicon glyphicon-calendar " for="inputSuccess2">&nbsp;Post Date-10-Nov-2015</label></dt>

                <dt><H6>Skills : XML, HTML, XHTML, DHTML, CSS </H6></dt>

                <dt><H6>We have a very urgent requirement for Implementation of business
                communications activities, including writing, design and web related
                activities to promote co<u><b>[complete description wont be given]</b></u></H6></dt>
                <button type="button" class="btn btn-info">View Job</button>
            </dl>
        </div>

<!--Duplicated data for showing the liating-->
        <div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
            <h3>Software Analyst Jobs in Germany</h3>
        </div>
        <div class="form-group has-feedback col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0 "  style="box-shadow: 0 0 5px black">
            <dl>
                <dt><H4>Android Developer and Nerds </H4></dt>
                <dt><H5>Vishnu Inc.</H5></dt>
                <dt><label class="control-label glyphicon glyphicon-map-marker " for="inputSuccess2">Stuttgart,Germany</label></dt>
                <dt><label class="control-label glyphicon glyphicon-folder-close " for="inputSuccess2">&nbsp;1 Years</label></dt>
                <dt><label class="control-label glyphicon glyphicon-euro " for="inputSuccess2">&nbsp;100,000</label></dt>
                <dt><label class="control-label glyphicon glyphicon-calendar " for="inputSuccess2">&nbsp;Post Date-10-Oct-2015</label></dt>

                <dt><H6>Jquery, Javascript, HTML 5, CSS. </H6></dt>

                <dt><H6>Vishnu Inc. which is the biggest Inc. in the world is having a very urgent requirement for Implementation of business
                communications activities, including writing, design and web related
                activities to promote co<u><b>[complete description wont be given]</b></u></H6></dt>
                <button type="button" class="btn btn-info">View Job</button>
            </dl>
        </div>
    </div>


</div>



