#jfsAdminJobList .jfsAdminButton.btn-xs {
    line-height: 1;
}

#jfsAdminJobList #jobFilterParameters {
    padding: 1rem 0;
}

#jfsAdminJobList #jobQuickSearchForm {
    margin-bottom: 1rem;
}

#jfsAdminJobList #jobQuickSearchForm .searchButton:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    #jfsAdminJobList #jobQuickSearchForm label {
        padding-right: 1rem;
    }

    #jfsAdminJobList #jobQuickSearchForm input {
        width: 300px;
    }
}