<div id="jfsCompanyJobMetrics">
    <div class="row">
        <div class="col-md-12">
            <h2>Job metrics</h2>
            <hr>

            <div ng-if="noResults.info || noResults.error">
                <div class="alert" ng-class="{ 'alert-info': noResults.info, 'alert-danger': noResults.error }">
                    <strong>{{ noResults.title }}</strong> {{ noResults.text }}
                </div>
            </div>

            <div ng-if="!noResults.info && !noResults.error" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Offer ID</th>
                            <th>List views</th>
                            <th>Detail views</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metric in metrics">
                            <td><a href="#/job/profile/{{metric.offerId}}">{{ metric.offerId }}</a></td>
                            <td>{{ metric.listViewCount }}</td>
                            <td>{{ metric.detailViewCount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>