.filechooser{
    display: block;
}

.filechooser-label {
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0px;
}

.filechooser-input{
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}