/* general styles and browser hacks */

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loadingAnimation {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 1rem;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loadingAnimation:before {
    font-family: 'Glyphicons Halflings';
    color: #555;
    position: relative;
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    content: "\e030";
}

/* navbar */

#jfs-navbar .navbar-brand {
	padding: 5px 20px 5px 10px;
}

#jfs-navbar .navbar-brand #brandlogo {
	height: 40px;
}

/* bootstrap additions */

.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}
.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}